body{
    display: flex;
    background-color: #282a35;
    background-repeat: no-repeat;
    justify-content: center;
    background-size:cover;
    padding: 60px;
    
}

.form-login{
    background-color:white;
    justify-content:center;
    height: 390px;
    width: 400px;
    /* margin: 105px 50px 70px 900px; */
    border-radius: 20px;
    border: 1px solid black;
    padding: 48px 56px 80px;
    
}


.login-text{
    text-align: center;
}

/* box of login form */
.box1{
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: 280px;
    margin: 5px 10px 20px 65px;
    border-style: ridge;
}
/* login button */
.button{
    cursor: pointer;
    background-color:#272235;
    color:white;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    margin-left:110px;
    margin-top: 10px;
    border-style:none;
    justify-content: center;
}
#login-button:hover{
    background-color: rgb(104, 206, 3);
    color: black;
    font: 15px solid black;
}
#forgot-button{
    background-color: white;
    color: black;
    font: 15px solid black;
    border: 1px solid black;
}

#forgot-button:hover{
    background-color: #282a35;
    color: white;
    font: 15px solid white;
}

/* sign up */
.form-signup{
    font-style:italic;
    text-decoration: none;
    font-weight: bold;
}
/* or-login-with option  */
.or-option{
    color:rgb(1, 52, 1);
    margin-bottom: 5px;
    margin-left: 160px;
}
#google{
    height: 50px;
    margin-left: 150px;
    justify-content: space-evenly;
    /* display: flex; */
}
#facebook{
    height: 50px;
    /* display: flex; */
}

